/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {
        .container{
            max-width: 1320px;
        }
        .header-area {
            padding: 50px 0;
        }
        .hero-content h1 {
            font-size: 80px;
            line-height: 90px;
        }
        .hero-content a img {
            width: 50px;
        }
        .header-logo a img {
            width: 150px;
        }
        .flex-title h2 {
            font-size: 45px;
        }
        .flex-title img {
            width: 35px;
        }
        .flex-title {
            margin-bottom: 25px;
        }
        .flex-title h3 {
            font-size: 25px;
            line-height: 36px;
        }
        .solution-single .flex-title img {
            width: 55px;
        }
        .solution-wrapper {
            margin-top: 160px;
            gap: 0 110px;
        }
        .contact-form h4 {
            font-size: 20px;
        }
        .footer-info h2 {
            font-size: 45px;
        }
        .footer-info p {
            font-size: 20px;
        }
        .footer-link a {
            font-size: 16px;
        }
        .solution-list ul {
            gap: 0 30px;
        }


}




@media (min-width: 1200px) and (max-width: 1300px) {
    .header-area {
        padding: 50px 0;
    }
    .hero-content h1 {
        font-size: 70px;
        line-height: 80px;
    }
    .hero-content a img {
        width: 45px;
    }
    .flex-title h2 {
        font-size: 40px;
    }
    .description-text p {
        font-size: 16px;
    }
    .flex-title h3 {
        font-size: 22px;
        line-height: 32px;
    }
    .contact-form h4 {
        font-size: 18px;
    }
    .contact-form button {
        font-size: 16px;
    }
    .contact-form button img {
        width: 18px;
    }
    .solution-area {
        padding: 100px 0;
    }
    

}



/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .hero-area{
        height: 650px;
        padding-top: 180px;
    }
    .header-area {
        padding: 40px 0;
    }
    .hero-content h1 {
        font-size: 54px;
        line-height: 70px;
    }
    .hero-content a img {
        width: 36px;
    }
    .flex-title h2 {
        font-size: 32px;
    }
    .description-text p {
        font-size: 15px;
    }
    .flex-title h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .contact-form h4 {
        font-size: 18px;
    }
    .contact-form button {
        font-size: 16px;
    }
    .contact-form button img {
        width: 18px;
    }
    .solution-area {
        padding: 80px 0;
    }
    .solution-wrapper {
        margin-top: 140px;
        gap: 0 40px;
    }
    .header-logo a img {
        width: 130px;
    }
    .header-right a {
        font-size: 18px;
    }
    .flex-title img {
        width: 30px;
    }
    .solution-single .flex-title img {
        width: 45px;
    }
    .flex-title {
        margin-bottom: 20px;
    }
    .footer-info h2 {
        font-size: 40px;
    }
    .footer-info p {
        font-size: 20px;
    }
    .footer-link a {
        font-size: 15px;
    }
    .copyrignt-text p {
        font-size: 14px;
    }
    .contact-form input {
        font-size: 15px;
    }
    .contact-form textarea {
        font-size: 15px;
    }

}
 





/* LG Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
   .solution-wrapper {
        margin-top: 140px;
        gap: 24px;
    }
.solution-single .flex-title img {
    width: 40px;
}
.flex-title h3 {
    font-size: 16px;
    line-height: 26px;
}
.flex-title {
    gap: 0 15px;
    margin-bottom: 20px;
}
.description-text p {
    font-size: 14px;
}
.solution-single {
    border-bottom: 2px solid #EA010A;
}
.solution-area {
    padding: 80px 0;
}
.flex-title img {
    width: 25px;
}
.flex-title h2 {
    font-size: 25px;
}
.solution-list {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #EA010A;
}
.solution-list ul {
    gap: 0 12px;
}
.footer-info h2 {
    font-size: 36px;
}
footer {
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer-info p {
    font-size: 18px;
}
.footer-info p {
    font-size: 16px;
}
.footer-link a {
    font-size: 15px;
}
.contact-form h4 {
    font-size: 18px;
}
.contact-form input {
    font-size: 14px;
}
.contact-form textarea {
    font-size: 14px;
}
.hero-content h1 {
    font-size: 50px;
    line-height: 60px;
}
.hero-content a img {
    width: 35px;
}
.header-area {
    padding: 30px 0;
}
.header-logo a img {
    width: 130px;
}
.header-right a {
    font-size: 16px;
}
.hero-area {
    height: 600px;
    padding-top: 180px;
}
.contact-form button {
    font-size: 16px;
}
.contact-form button img {
    width: 17px;
}
.copyrignt-text p {
    font-size: 14px;
}

}





/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {
    .solution-wrapper {
        margin-top: 80px;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 0;
    }
    .header-area {
        padding: 24px 0;
    }
.header-logo a img {
    width: 100px;
}
.header-right a {
    font-size: 16px;
}
.hero-content h1 {
    font-size: 38px;
    line-height: 46px;
}
.hero-content a img {
    width: 30px;
}
.hero-area {
    height: 560px;
    padding-top: 150px;
}
.solution-area {
    padding: 80px 0;
}
.solution-thumb {
    text-align: center;
    margin-bottom: 40px;
}
.flex-title img {
    width: 35px;
}
.flex-title h2 {
    font-size: 25px;
}
.flex-title {
    gap: 0 12px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.flex-title img{
    margin-bottom: 20px;
}
.description-text p {
    font-size: 14px;
    text-align: center;
}
.solution-list ul {
    gap: 15px 20px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.solution-list {
    border-bottom: 2px solid #EA010A;
}
.flex-title h3 {
    font-size: 22px;
    line-height: 32px;
}
.solution-single .flex-title img {
    width: 50px;
}
.solution-single {
    border-bottom: 2px solid #EA010A;
    padding-bottom: 5px;
    text-align: center;
}
footer {
    padding-top: 60px;
    padding-bottom:60px;
}
.footer-info h2 {
    font-size: 32px;
}
.footer-info p {
    font-size: 16px;
}
.footer-link a {
    font-size: 15px;
}
.copyrignt-text {
    display: none;
}
.contact-form h4 {
    font-size: 18px;
}
.contact-form {
    margin-top: 50px;
}
.contact-form button {
    font-size: 16px;
    float: none;
    margin-top: 5px;
}
.contact-form button img {
    width: 16px;
}
.contact-form input {
    height: 40px;
    font-size: 14px;
}
.contact-form textarea {
    font-size: 14px;
}


}










/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

  
    
    
 
}